<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
</head>
<body>
    <div style="display: inline-flex">
    <button id="control-button", style="width: 120px; height: 35px; margin: 5px">Toggle State</button>
    <input type="color" id="colorPicker" value="#40B6BF", style="width: 50px; height: 35px; margin: 5px">
    </div>

    <script>
    $(document).ready(function(){
        $('#control-button').click(function(){
            let actionData = { action: "toggle_state" };

            $.ajax({
                url: '/execute-action',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(actionData),
                dataType: 'json',
                success: function(data) {
                    console.log('Success:', data);
                    toggleState();
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });
    });
    </script>

    <script src="{{ url_for('static', filename='sketch.js') }}"></script>

</body>
</html>

